@charset "utf-8";
/* CSS Document */
.polina
{
	
	position:absolute;
	bottom:52%;
	right:5%;
	display:block;
}
.polina p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina1
{
	
	position:absolute;
	bottom:52%;
	right:22%;
	display:block;
}
.polina1 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina2
{
	
	position:absolute;
	bottom:52%;
	right:35%;
	display:block;
}
.polina2 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina3
{
	
	position:absolute;
	bottom:42%;
	right:36%;
	display:block;
}
.polina3 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina4
{
	
	position:absolute;
	bottom:52%;
	right:21%;
	display:block;
}
.polina4 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina5
{
	
	position:absolute;
	bottom:50%;
	right:5%;
	display:block;
}
.polina5 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina6
{
	
	position:absolute;
	bottom:50%;
	right:36%;
	display:block;
}
.polina6 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina7
{
	
	position:absolute;
	bottom:53%;
	right:20%;
	display:block;
}
.polina7 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
.polina8
{
	
	position:absolute;
	bottom:53%;
	right:3%;
	display:block;
}
.polina8 p
{
	color:#e55d0c;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:1em;
	text-align:right;
}
